/* General body styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('/static/pic2.jpg') no-repeat center center fixed ;
    background-size: cover;
    color: #fff;
}

/* Center alignment for the main content */

.header {
    margin: auto;
    margin-top: 100px;
    text-align: center;
    width: 80%;
    max-width: 600px;
    background: rgba(7, 16, 24, 0.641); /* Floating background with opacity */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Header styling */
.header h1 {
    font-size: 3rem;
    margin: 0;
    color: #bfe6ff;
}

.header h2 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #c9d3f4;
}

/* Upload form styling */
.upload p {
    margin-bottom: 15px;
    font-size: 1rem;
    color: #ddd;
}

.upload input[type="file"] {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}

.upload_btn,.download_btn,.visul_btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fceab8;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.upload_btn:hover,.download_btn:hover {
    background-color: #fcc470;
}

/* Footer styling */
footer {
    position: relative;
    margin-top: 50%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 10px 0;
    color: #fff;
    font-size: 0.9rem;
}

/* Footer links or additional content styling */
footer p {
    margin: 5px 0;
}

.headerAnalytics{
    margin: auto;
    text-align: center;
    width: 95%;
    background: rgba(15, 31, 46, 0.519); /* Floating background with opacity */
    border-radius: 10px;
    padding: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Add space between the two sections */
    padding: 20px;
}

.download,.visual{
    margin: auto;
    text-align: center;
    background: rgba(7, 16, 24, 0.477); /* Floating background with opacity */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.download{
    width: 60%;
}

.visual{
    width: 40%;
}
.collapsible {
    margin-top: 10px;
    background-color: rgba(43, 43, 43, 0.705);
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    text-align: center;
}

.active, .collapsible:hover {
    background-color: #222022;
}

/* Style the collapsible content */
.content {
    padding: 0 18px;
    text-align: left;
    display: none;
    overflow: hidden;
    background-color: #222022
}
