<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeZen</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>

<div class="header">
    <h1>CodeZen</h1>
    <h2>Artic Challenge Hackathon 2024</h2>
    
    <p>Upload a CSV file to generate a visual <strong>Label</strong> and <strong>Value</strong>.</p>
    <form id="uploadForm" method="POST" enctype="multipart/form-data">
        <input type="file" id="fileInput" name="file" accept=".csv" />
        <button type="submit">Upload and Visualize</button>
    </form>
</div>


<footer>
        <p>Alka | Tamanna | Thushari | Grace</p>
        <p>GENIAL</p>
</footer>

</body>
</html>

