<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeZen</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='analytics.css') }}"> 
<body>

    <div class="headerAnalytics">
        <h1>CodeZen</h1>
        <h2>Artic Challenge Hackathon 2024</h2>
    </div>

    <div class="card-container">
            {% for plot in plots %}
            <figure>
                <img src="{{ plot }}" alt="Plot">
                <!-- <figcaption>Dynamic Plot</figcaption> -->
            </figure>
            {% endfor %}
    </div>

    <footer>
        <p>Alka | Tamanna | Thushari | Grace</p>
        <p>GENIAL</p>
</footer>
</body>
</html>
