<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeZen</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='analytics.css') }}">

</head>

</style> 
     </head>
      <body>
           <div class="card-container">
            <figure>
                <img src="https://picsum.photos/id/475/250/300" alt="Mountains">
                <figcaption>The Day</figcaption>
            </figure>
            <figure >
                <img src="https://picsum.photos/id/475/250/300" alt="Mountains">
                <figcaption>The Night</figcaption>
            </figure>
            <figure>
                <img src="https://picsum.photos/id/287/250/300" alt="Mountains">
                <figcaption>The Day</figcaption>
            </figure>
            <figure >
                <img src="https://picsum.photos/id/475/250/300" alt="Mountains">
                <figcaption>The Night</figcaption>
            </figure>
        
        </div>
        
</body>





</html>