<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeZen</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>

    <div class="headerAnalytics">
        <h1>CodeZen</h1>
        <h2>Artic Challenge Hackathon 2024</h2>
    </div>

<div class="container">
    <!-- Download and meta data section--- -->
    <div class="download">
        <p>Click on the button to download your CSV file </p>
        <!-- Download button -->
        <a href="{{ url_for('download_csv') }}">
        <button class="download_btn">Download</button>
        </a>

        <!-- Button to toggle the collapsible section -->
       <button class="collapsible">Metadata</button>
       <div class="content">
           <p>This is some text inside the collapsible section. You can add any content you like here, including paragraphs, images, tables, etc.</p>
       </div>

       <script>
        // Get all collapsible buttons
        var coll = document.getElementsByClassName("collapsible");

        // Loop through each button and add the click event listener
        for (var i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                // Toggle the "active" class to change the appearance of the button
                this.classList.toggle("active");

                // Get the associated content div
                var content = this.nextElementSibling;

                // Toggle the display of the content div
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
        </script>
   </div>

<div class ="visual">
<!--visulize button-->
<p>Also want to get some insight into your data? Click the visulize button </p>
<!-- Download button -->
<a href="{{ url_for('visualize') }}">
<button class="visul_btn">Visualize</button>
</a>
</div>

</div>


    <footer>
        <p>Alka | Tamanna | Thushari | Grace</p>
        <p>GENIAL</p>
</footer>
</body>
</html>
